.left-section {
    width: 55%;
    padding: 0 2rem;
    
}

.logo {
    margin: 3.5rem 0;
}

.mobile-image {
    display: none;
}

h1 {
    width: 30%;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 3rem;
    padding-top: 2rem;
    transform: translateX(-100%);
    animation: comeinleft 0.5s ease forwards;
}

h1 span {
    display: block;
    font-weight: 200;
    color: hsl(0, 93%, 68%);
}

p {
    width: 60%;
    color: hsl(0, 36%, 70%);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

form {
    width: 65%;
    position: relative;
}

form input {
  width: 100%;
  height: 2.7rem;
  padding: 0.7rem;
  font-size: 16px;
  border: 2px solid hsl(0, 74%, 74%);
  background-color: transparent;
  outline: none;
  border-radius: 50px;
}

form.error input {
  border: 2px solid hsl(0, 93%, 68%);
}

input::placeholder {
    color:  hsl(0, 36%, 70%);
}

form button {
  background-image: linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 2px 5px 10px hsla(0, 49%, 19%, 0.5);
  border: none;
  padding: 0.7rem 0;
  border-radius: 50px;
  width: 80px;
  position: absolute;
  top: 0;
  right: 0;
  height: 2.7rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
  outline: none;
}

button:hover {
    opacity: 0.7;
}

.error-icon {
    display: none;
    position: absolute;
    top: 0.55rem;
    left: 76%;
}

form.error .error-icon {
    display: block;
}

form small {
  display: none;
  color: hsl(0, 93%, 68%);
  margin-top: 1rem;
  margin-left: 0.7rem;
}

form.error small {
    display: block;
}

/* Animation */

@keyframes comeinleft {
    to {
        transform: translateX(0);
    }
}

/* Media query */

@media screen and (max-width: 600px) {

    .right-section {
        display: none;
    }

    .left-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: block;
        margin: 0;
        margin-right: 9rem;
        margin-bottom: 2rem;
        width: 40%;
       
    }

    .mobile-image {
        display: block;
        margin-bottom: 2rem;
    }

    h1, p, span, form {
        width: 100%;
        text-align: center;
    }

    form {
        padding-bottom: 2rem;
    }

    
}




