@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.wrapper {
    padding: 1em 0;
    height: 100vh;
}

.left-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

