.left-section img { width: 100%; }

.logo,
.left-section img {
    margin-bottom: 3rem;
}

.right-section { text-align: center; }

.btn {
    color: hsl(257, 40%, 49%);
    padding: 1rem 5rem;
    border: 1px solid #fff;
    border-radius: 2rem;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    margin-bottom: 4rem;
}

.btn:active { transform: translateY(-2px); }

.icon-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-links li {
    margin-left: 1.5rem;
    padding: 0.3rem;
    border: 1px solid #fff;
    border-radius: 50%;
}
