@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 12px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

body {
     background-color: hsl(0, 100%, 74%) ;
     background-image: url(../images/bg-intro-mobile.png);
}

body, .btn {
    color: #fff;
}

.wrapper {
    height: 100vh;
    padding: 1.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
}



