@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html { box-sizing: border-box; }

body {
    background-image: url(./images/bg-mobile.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Open Sans', sans-serif;
    max-height: 100vh;

}

h1 { 
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

li { list-style: none;  }

a { text-decoration: none; }

p { opacity: 0.7; }

h1, p, a { color: #fff; }

h1, p { margin-bottom: 1.5rem; }

.wrapper {
    width: 100%;
    padding: 3rem;
}

.logo { width: 50%; }

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-section img { width: 100%; }

.logo,
.left-section img {
    margin-bottom: 3rem;
}

.right-section { text-align: center; }

.btn {
    color: hsl(257, 40%, 49%);
    padding: 1rem 5rem;
    border: 1px solid #fff;
    border-radius: 2rem;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    margin-bottom: 4rem;
}

.btn:active { transform: translateY(-2px); }

.icon-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-links li {
    margin-left: 1.5rem;
    padding: 0.3rem;
    border: 1px solid #fff;
    border-radius: 50%;
}

@media screen and (min-width: 600px) {
    .logo { width: 35%; }
}

@media screen and (min-width: 768px) {
    
    body { background-image: url(./images/bg-desktop.svg); }

    .wrapper { padding: 2rem; }

    .logo {
        margin-left: 1rem;
        width: 25%;
    }

    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .left-section { width: 55%; }

    .right-section {
        width: 35%;
        margin-left: 2rem;
    }

    .right-section p,
    .right-section h1 {
        text-align: left;
    }

    .btn {
        font-size: 16px;
        display: block;
        margin-right: auto;
    }

    .icon-links {
        justify-content: flex-end;
    }
}

@media screen and (min-width: 1280px) {
    .logo {
        width: 15%;
        margin-left: 6.5rem;
    }

    .left-section { width: 45%; }

    h1 { 
        font-size: 36px;
        font-weight: 600;
    }  
}



